/* Outline */
/*
* {
    border:1px solid red !important;
}
*/

/* Backgrounds */
.background_image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    margin: 0 auto;
    top: 0;
    left: 0;
    z-index: 1; /* Keep image behind the overlay */

}

.background_container {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    
}

.outer {
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: right;
    width: 100%;
    height: 86%;
    

}

.header {
    display: flex;
    flex-direction: column;

}

.nav {
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 8%;
    background: rgba(97, 91, 91, 0.473);
    z-index: 5;

}

.logo {
    display: flex;
    padding: 10px;
    margin-left: 15px;
    /* background: rgba(97, 91, 91, 0.473); */

}

.page_description {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin-right: 15px;
    
}

.description_font {
    font-family: 'Kanit';
    font-size: 24px;
    color: whitesmoke;
    padding-right: 8px;
}

.title_details_1 {
    display: none;
    position: absolute;
    align-items: center;
    text-align: center;
    justify-content: center;
    background: rgba(97, 91, 91, 0.473);
    right: 0.2%;
    top: 10%;
    z-index: 3;
}

.title_details_2 {
    display: none;
    position: absolute;
    align-items: center;
    text-align: center;
    justify-content: center;
    background: rgba(97, 91, 91, 0.473);
    right: 0.2%;
    top: 10%;
    z-index: 3;
}

.title_details_font {
    font-family: 'Kanit';
    color: white;
    font-size: 18px;
    margin: 0 auto;

}


.desc_sec_1:hover ~ .title_details_1 {
    display: flex;
}







.info_foot {
    display: flex;
    flex-direction: row;
    position: relative;
    align-items: left;
    justify-content: left;
    text-align: left;
    width: 100%;
    height: 10%;
    margin-left: 1.5%;
    z-index: 3;
}

.info_foot a img {
    width: 40px;
    height: 40px;

}

.user_description {
    display: none;
    flex-direction: column;
    position: relative;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 30%;
    height: 100%;
    z-index: 3;

}

.info_box {
    background: rgba(97, 91, 91, 0.473);
    margin: 10px;

}

.info_box p {
    font-family: 'Kanit';
    font-size: 16px;
    color: white;



}

.user_description button {
    border-radius: 10px;
    background-color: lightgrey;
}


.overlay_river {
    display: flex;
    position: absolute;
    width: 100%; /* Adjust to cover the width of the river area */
    height: 100%; /* Adjust to cover the height of the river area */
    background-color: hsl(0, 100%, 50%);
    opacity: 0.3; /* Adjust opacity as needed */
    z-index: 2; /* Keep overlay above the image */
    pointer-events: none; /* Allow clicks to pass through */
    border-radius: 20px; /* Optional: use to create a curved shape */
}


/* Column of sliders */
.slider_column {
    display: flex;
    flex-direction: column-reverse;
    width: 20%;
    height: 100%;
    margin-right: 35px;
    z-index: 3;

}

@media (max-width: 768px) {
    .slider_column {
        width: 50%; /* Adjust to 50% for medium screens (like tablets) */
        margin-right: 0; /* Remove margin-right for smaller screens */
        margin-top: 10px; /* Adjust top margin for smaller screens */
    }
}

@media (max-width: 480px) {
    .slider_column {
        width: 100%; /* Make it full-width for smaller screens (like mobile) */
        margin-right: 0; /* Remove margin-right */
        margin-top: 10px; /* Adjust top margin */
    }
}

.slider_container {
    text-align: left;
    padding: 2px;
    margin: 0px;
    background: rgba(97, 91, 91, 0.473);
    z-index: 3;
    
}


.slider_name {
    color: white;
    font-style: bold;
    font-size: 20px;
    font-family: "Kanit";
    margin: 0 auto;

}

/* TER Rating */
.ter_display {
    color: white;
    font-style: normal;
    font-size: 20px;
    font-family: "Kanit";
    margin: 0 auto;
    margin-bottom: 0px;

}




/*                  Description for sliders                 */
.slider_info_wrap {
    display: flex;
    flex-direction: column-reverse;
    width: 12%;
    height: 100%;
    margin-right: 15px;
    z-index: 3;
}

.worms_info {
    display: none;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding: 10px;
    color:white;
    background: rgba(97, 91, 91, 0.473);
    margin-bottom: 10px;
}

.midges_info {
    display: none;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding: 10px;
    color:white;
    background: rgba(97, 91, 91, 0.473);
    margin-bottom: 10px;
}

.sowbugs_info {
    display: none;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding: 10px;
    color:white;
    background: rgba(97, 91, 91, 0.473);
    margin-bottom: 10px;
}

.snails_info {
    display: none;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding: 10px;
    color:white;
    background: rgba(97, 91, 91, 0.473);
    margin-bottom: 10px;
}

.species_info {
    display: none;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding: 10px;
    color:white;
    background: rgba(97, 91, 91, 0.473);
    margin-bottom: 10px;
}

.d_species_info {
    display: none;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding: 10px;
    color:white;
    background: rgba(97, 91, 91, 0.473);
    margin-bottom: 10px;
}

.ept_info {
    display: none;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding: 10px;
    color:white;
    background: rgba(97, 91, 91, 0.473);
    margin-bottom: 10px;
}

.flies_info {
    display: none;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding: 10px;
    color:white;
    background: rgba(97, 91, 91, 0.473);
    margin-bottom: 10px;
}

.insects_info {
    display: none;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding: 10px;
    color:white;
    background: rgba(97, 91, 91, 0.473);
    margin-bottom: 10px;
}

.hbi_info {
    display: none;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding: 10px;
    color:white;
    background: rgba(97, 91, 91, 0.473);
    margin-bottom: 10px;
}


/*                  Alternating Data pull out Box                   */
.alt-data {
    font-family: Arial, sans-serif;
    margin: 0;
    overflow-x: hidden;
}

#pull-out {
    position: absolute;
    top: 26%;
    right: -21.5%; /* Hidden off-screen initially */
    width: 400px;
    height: 100px;
    background-color: #444;
    color: white;
    padding: 10px;
    border-radius: 5px 0 0 5px;
    transform: translateY(-50%);
    transition: right 0.3s ease;
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#alt-pull-out {
    position: absolute;
    top: 50%;
    left: -30px; /* Positioned just outside the div on the left */
    transform: translateY(-50%);
    background: rgba(97, 91, 91, 0.473);
    color: white;
    border: none;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    z-index: 1000;
}

#pull-out.show {
    right: 0; /* Slide into view */
}

.pullout-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 100%;
    margin: 0 auto;


}


/*                  Slider Stuff                    */

/* The slider itself */
.slider {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 100%; /* Full-width */
    height: 10px; /* Specified height */
    background: #d3d3d3; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
    border-radius: 8px;
}
  
/* Mouse-over effects */
.slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
}
  
/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
/*
.slider::-webkit-slider-thumb {
    -webkit-appearance: none; 
    appearance: none;
    width: 25px; 
    height: 25px; 
    background: green; 
    cursor: pointer; 
    border-radius: 50%;
}
*/

.slider::-moz-range-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 18px; /* Thumb width */
    height: 18px; /* Thumb height */
    border-radius: 50%;
    background-color: rgb(0, 102, 128); /* Initial color */
    cursor: pointer; /* Pointer cursor on hover */
    transition: background-color 0.5s; /* Smooth transition for background color */
    z-index: 3;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 18px; /* Thumb width */
    height: 18px; /* Thumb height */
    border-radius: 50%;
    background-color: rgb(0, 102, 128); /* Initial color */
    cursor: pointer; /* Pointer cursor on hover */
    transition: background-color 0.5s; /* Smooth transition for background color */
    z-index: 3;
}


/* Color changes for sliders */
input[type=range].slider-green::-webkit-slider-thumb {
    background: green;
}

input[type=range].slider-yellow-green::-webkit-slider-thumb {
    background: yellowgreen;
}

input[type=range].slider-yellow::-webkit-slider-thumb {
    background: yellow;
}

input[type=range].slider-orange::-webkit-slider-thumb {
    background: orange;
}

input[type=range].slider-red::-webkit-slider-thumb {
    background: red;
}

/* Current value of slider */
.slider_value_display {
    font-style: normal;
    margin-left: 5px;

}

