.background_1 {
	background-color: gray;
	background-image: url("IMG_5593.jpeg");
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: center;
    margin: 0 auto;

}

.outer {
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: right;
    width: 100%;
    height: 920px;

}

/* Column of sliders */
.div_2 {
    display: flex;
    flex-direction: column-reverse;
    width: 12%;
    height: 100%;
    margin-right: 80px;

}

.slider_container {
    text-align: left;
    padding: 2px;
    margin: 1px;
    background: rgba(97, 91, 91, 0.473)

}


.slider_name {
    color: white;
    font-style: bold;
    font-size: 25px;
    font-family: "Kanit";
    margin: 0 auto;

}

/* The slider itself */
.slider {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 100%; /* Full-width */
    height: 16px; /* Specified height */
    background: #d3d3d3; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
    border-radius: 8px;
}
  
/* Mouse-over effects */
.slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
}
  
/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
/*
.slider::-webkit-slider-thumb {
    -webkit-appearance: none; 
    appearance: none;
    width: 25px; 
    height: 25px; 
    background: green; 
    cursor: pointer; 
    border-radius: 50%;
}
*/

.slider::-moz-range-thumb {
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: blue; /* Green background */
    cursor: pointer; /* Cursor on hover */
    border-radius: 50%;
    transition: background-color 0.5s ease;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px; /* Thumb width */
    height: 20px; /* Thumb height */
    border-radius: 50%;
    background-color: rgb(0, 102, 128); /* Initial color */
    cursor: pointer; /* Pointer cursor on hover */
    transition: background-color 0.5s; /* Smooth transition for background color */
}


/* Color changes for sliders */
input[type=range].slider-green::-webkit-slider-thumb {
    background: green;
}

input[type=range].slider-yellow::-webkit-slider-thumb {
    background: yellow;
}

input[type=range].slider-red::-webkit-slider-thumb {
    background: red;
}

/* Current value of slider */
.slider_value_display {
    font-style: normal;
    margin-left: 5px;

}

