.background_1 {
	background-color: gray;
	background-image: url("");
	background-repeat: no-repeat;
	background-size: 80%;
	background-position: right 174% bottom 1100%;
    margin: 0 auto;

}

.center {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 900px;
    margin: 0 auto;

}